<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1 class="text" style="font-size: 4vw;">This is some very nice text!</h1>
    <p class="text">And this is {{ name }}</p>

    <form>
        <input placeholder="Word..."/>
        <button id="search">Get Definition</button>
        <br/>
        <button id="random">Randomise word</button>
    </form>
    <p class="text" id="p1"></p>
    <p class="text" id="p2"></p>

    <script src="/js/app.js" type="text/javascript"></script>
</body>
</html>